*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 241, 206);
}

.logo{
    height: 200px;
}

nav{
    background-color: rgb(238, 238, 192);
}

nav a{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.tote{ 
    border-radius: 500px;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: rgb(110, 105, 57);
}

.section{
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;

}

.masvendidosimg{
    height: 350px;
    justify-content: space-around;
    border-bottom: 2px solid rosybrown;
    border-top: 2px solid rosybrown;
    border-left: 2px solid rosybrown;
    border-right: 2px solid rosybrown;
    margin: 2rem;
}
.parrafo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 18px;
    color: rgb(99, 55, 55);
}

.titulo{
    display: flex;
    justify-content: center;
    color: rgb(117, 117, 72);
}

footer{
    padding: 1rem;
    display: flex-end;
    background-color: rgb(238, 238, 192);
}

.h5{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(46, 49, 48)
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.logo_a{
    height: 50px;
}