*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 223, 154);
}

.logo{
    height: 200px;
}

nav{
    background-color: rgb(218, 217, 146);
}

nav a{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.tote{
    border-radius: 500px;
}